{
    "development": {
        "server_port": "5001",
        "api_url": "/cchat",
        "dsn": ""
    },
    "production": {
        "server_port": "5001",
        "api_url": "/cchat",
        "dsn": ""
    }
}