{
    "development": {
        "port": 8009,
        "dsn": "mongodb://localhost:27018/coffeeChat"
    },
    "production": {
        "port": 5001,
        "dsn": "mongodb://localhost:27017/coffeeChat"
    }
}