$fa-font-path: "webfonts";
@import 'font-awesome/fontawesome';
@import "font-awesome/regular";
@import "font-awesome/solid";
@import 'bootstrap/bootstrap';

body {
    font-family: Lato,sans-serif;
    background: #804c00;
}