<div class="container">
    <div class="row">
        <div class="col-lg-12">
           
            <div class="card">
                <div class="card-body">
                    <nav class="mb-2">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#" role="tab" (click)="changeTab(state.List)" aria-selected="true">Contacts</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#" role="tab" (click)="changeTab(state.Rooms)" aria-selected="false">Rooms</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#" role="tab" (click)="changeTab(state.FR)" aria-selected="false">Requests</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" role="tabpanel">
                            <div *ngIf="currentState === state.List">
                                <input type="text" class="form-control form-control-sm" name="contact" [(ngModel)]="contactQuery" placeholder="Type Contact User ID">
                                <button class="btn btn-sm btn-primary mt-2" (click)="search()">
                                        <i class="fas fa-search"></i> Search
                                </button>

                                <h4 class="text-center mt-4" style="font-size: 20px; font-weight: bold;" *ngIf="contacts.length === 0">Contacts not found</h4>
                                <div class="row mt-2">
                                    <div class="col-12" *ngFor="let contact of contacts">
                                        <img *ngIf="!contact.profile.profilePath" src="/assets/images/nophoto.png" width="50" height="50" />&nbsp;
                                        <img *ngIf="contact.profile.profilePath" [src]="contact.profile.profilePath" width="50" height="50" />&nbsp;
                                        <span>{{contact.profile.name}}</span><br>
                                        <span>{{contact.profile.status}}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="currentState === state.Search">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <img *ngIf="!contact.profile.profilePath" src="/assets/images/nophoto.png" width="50" height="50" />&nbsp;
                                        <img *ngIf="contact.profile.profilePath" [src]="contact.profile.profilePath" width="50" height="50" />&nbsp;
                                        <span>{{contact.profile.name}}</span><br>
                                        <span>{{contact.profile.status}}</span>
                                        <button class="btn btn-sm btn-primary mt-2" (click)="sendRequest()">
                                            <i class="fas fa-plus"></i> Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade"  role="tabpanel">
                           
                        </div>
                        <div class="tab-pane fade" *ngIf="currentState === state.Rooms" role="tabpanel">...</div>
                        <div class="tab-pane fade" *ngIf="currentState === state.FR" role="tabpanel">...</div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>